/* Reset de estilos básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho */
header {
    background-color: #e7b6b6; /* Cor de fundo do cabeçalho */
    color: #ecb6b6; /* Cor do texto no cabeçalho */
    padding: 5px 10px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto centralmente */
}

h1 {
    font-size: 32px; /* Tamanho do título principal */
    font-family: 'Roboto', sans-serif; /* Fonte do título principal */
    color: #af2961; /* Cor do título principal */
    margin-bottom: 20px; /* Espaçamento inferior */
    font-weight: bold; /* Texto em negrito */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 1px; /* Espaçamento entre letras */
}

/* Estilos para o conteúdo centralizado */
.centered-content {
    text-align: center; /* Alinha o conteúdo ao centro */
    max-width: 800px; /* Define a largura máxima do conteúdo centralizado */
    margin: auto; /* Centraliza na horizontal */
    padding: 20px;
}

/* Estilos para o formulário de contato */
form {
    max-width: 400px; /* Define a largura máxima do formulário */
    margin: auto; /* Centraliza o formulário na horizontal */
    background-color: #f0f0f0; /* Cor de fundo do formulário */
    padding: 20px;
}

form label {
    display: block; /* Para que os labels fiquem em blocos separados */
    margin-bottom: 10px; /* Espaçamento inferior entre os labels */
}

form input,
form textarea,
form select {
    width: 100%; /* Ocupa toda a largura disponível */
    padding: 8px; /* Espaçamento interno */
    margin-bottom: 10px; /* Espaçamento inferior */
    box-sizing: border-box; /* Inclui padding e border no width */
}

form input[type="submit"] {
    background-color: #af98ec; /* Cor de fundo do botão */
    color: #af2961; /* Cor do texto no botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima */
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

form input[type="submit"]:hover {
    background-color: #c72222; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o rodapé */
footer {
    background-color: #e7b6b6; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto centralmente */
    position: fixed; /* Fixa o rodapé na parte inferior da tela */
    width: 100%; /* Largura total */
    bottom: 0; /* Alinha no fundo da página */
    height: 60px; /* Exemplo: ajuste a altura conforme necessário */
}

/* Estilos para textos comuns */
body {
    font-family: 'Roboto', sans-serif; /* Define a fonte para todo o corpo do site */
    font-size: 16px; /* Tamanho do texto padrão */
    line-height: 1.6; /* Espaçamento entre linhas */
    color: #333; /* Cor do texto */
}

/* Estilos para links */
a {
    color: #4d29af; /* Cor do link */
    text-decoration: none; /* Remove sublinhado padrão */
    transition: color 0.3s ease; /* Transição suave da cor */
}

a:hover {
    color: #d48d8d; /* Cor do link ao passar o mouse */
}

/* Estilos para textos específicos da página Sobre */
main.centered-content {
    margin-top: 20px; /* Espaço superior */
}

main.centered-content p {
    font-size: 18px; /* Tamanho do texto */
    line-height: 1.8; /* Espaçamento entre linhas */
    color: #555; /* Cor do texto */
}

main.centered-content h2 {
    font-size: 28px; /* Tamanho do título */
    color: #4d29af; /* Cor do título */
    margin-bottom: 15px; /* Espaço inferior */
}

main.centered-content p:first-child {
    margin-bottom: 20px; /* Espaço abaixo do primeiro parágrafo */
}

/* Estilos específicos para a página profissionais.html */

/* Estilo para o cabeçalho da página */
.profissionais-header {
    background-color: #e7b6b6; /* Cor de fundo do cabeçalho */
    color: #111010; /* Cor do texto no cabeçalho */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto centralmente */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilo para o título da página */
.profissionais-title {
    font-size: 32px; /* Tamanho do título */
    margin-bottom: 10px; /* Espaçamento inferior */
}

/* Estilo para o conteúdo principal da página */
.profissionais-main {
    padding: 50px; /* Espaçamento interno */
    margin-bottom: 30px; /* Espaçamento inferior */
    padding: 50px; /* Espaçamento interno */
    border-radius: 8px; /* Borda arredondada */
    background-color: #f5f5f5; /* Cor de fundo */
    
}

/* Estilo para o nome do profissional */
.profissional h3 {
    color: #6d5cae; /* Cor do nome */
    font-size: 24px; /* Tamanho do nome */
    margin-bottom: 5px; /* Espaçamento inferior */
}

/* Estilo para os detalhes do profissional */
.profissional p {
    font-size: 16px; /* Tamanho do texto */
    line-height: 1.6; /* Espaçamento entre linhas */
    color: #333; /* Cor do texto */
}

/* Estilos para os botões do rodapé */
.footer-buttons {
    max-width: 350px; /* Define a largura máxima dos botões */
    margin-top: -10px; /* Espaçamento inferior */
}

.footer-button {
    text-decoration: none; /* Remove sublinhado dos links */
    color: #1a1717; /* Cor do texto dos botões */
    background-color: #e7b6b6; /* Cor de fundo dos botões */
    padding: 1px 5px; /* Espaçamento interno dos botões */
    margin: 0 5px; /* Espaçamento entre os botões */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

.profissional {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.profissional h2 {
    margin-top: 0;
}

.profissional form {
    margin-top: 10px;
}

.profissional form label {
    display: block;
    margin-bottom: 5px;
}

.profissional form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.footer-button:hover {
    background-color: #e7acd6; /* Cor de fundo ao passar o mouse */
}

        /* Adicione estilos específicos aqui, se necessário */
        .profissionais-main {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .profissionais-section {
            flex: 0 0 70%; /* Largura fixa para os profissionais */
        }

        .export-buttons {
            margin-top: 2px; /* Espaço acima dos botões de exportação */
            text-align: right;
        }

        .export-buttons a {
            margin-right: 10px; /* Espaçamento entre os botões */
        }

        /* Estilo para cada quadrado de profissional */
        .quadrado {
            background-color: #da9b9b;
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            width: 300px; /*largura do quadrado */
            height: 200px; /*altura do quadrado */
            text-align: center;
        }

        /* Estilo para a tabela de profissionais */
        .profissionais-table {
            width: 100%;
            border-collapse: collapse;
        }

        .profissionais-table th, .profissionais-table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .profissionais-table th {
            background-color: #f2f2f2;
        }
    


