<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja Bem-Vindo(a)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Bem-vindo(a) ao Nosso Site!</h1>
    </header>

    <div class="centered-content">
        <h2>Faça seu Login</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('index') }}" method="POST">
            <label for="username">Nome:</label>
            <input type="text" id="username" name="username" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <input type="submit" value="Login">
        </form>

        <p>Ainda não tem uma conta? <a href="{{ url_for('cadastro') }}">Cadastre-se aqui</a>.</p>
    </div>

   </body>
</html>
