<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Sobre Nós</h1>
    </header>

    <div class="centered-content">
        <p>Somos uma equipe dedicada a fornecer suporte aos profissionais de enfermagem. <br>
            Para mais informações, entre em contato.</p>
    </div>

    <footer>
        <div class="footer-buttons">
            <a href="{{ url_for('index') }}" class="footer-button">Página Inicial</a>
            <a href="{{ url_for('contato') }}" class="footer-button">Contato</a>
        </div>
    </footer>
</body>
</html>
